<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--    useGeneratedKeys属性用于指定是否使用插入时自动生成的主键，keyProperty属性用于指定将生成的主键值赋给传进来的对象的属性名-->
    <!--    这样就可以在插入数据后，让对象也获取到插入数据的主键值-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish
        (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <!--    由于分类名称在category表中，所以需要使用联表查询，使用外连接-->
    <!--    为了保证查询结果能够正确封装到DishVO对象中，需要对c.name起别名，否则会出现name字段名重复的问题，导致封装错误-->
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*, c.name as category_name
        from dish d left join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                d.name like concat('%', #{name}, '%')
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <delete id="deleteBatch">
        delete from dish
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="com.sky.entity.Dish">
        select *
        from dish
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>